@model User
<h2>Add Employee</h2>
<form method="post">
    <input asp-action="Name"
    placeholder="Name"/>
    <input asp-action="Department"
    placeholder="Department"/>
    <button type="submit">Save</button>
</form>
