@model User

<h2>Edit Details</h2>

     <form method="post">
    <input asp-action="id" type="hidden"/>
    <input asp-action="Name"/>
    <input asp-action="Department"/>
    <button type="submit">Update</button>
    </form>
