@page
@model Sevice_Repo_Demo.Pages.DashboardModel
<h2>Dashboard</h2>

@if (Model.UserName != null)
{
    <p>Welcome, @Model.UserName!</p>
    <a asp-page="/Profile">My Profile</a>
    <a asp-page = "/Logout"> Logout </a>
};
