@model MVC_MachineTest.Models.Employee
<h2>Create New Employee</h2>

<form action="Create" method="post">
    <div>
        <input type="text" name="Name" placeholder="EmployeeName" required />
    </div>
    <div>
        <input type="text" name="Designation" placeholder="Designation" required />
    </div>
    <div>
        <input type="number" name="Salary" placeholder="Salary" />
    </div>
    <div>
        <button type="submit">Add</button>
    </div>
 
</form>
