@page
@model Razor_MachineTest.Pages.EditModel
@{
    ViewData["Title"] = "Edit Employee";
}
<h2>Edit Employee</h2>


<form method="post">   
    
    <div class="form-group">
        <label asp-for="Input.EmpName" class="control-label"></label>
        <input asp-for="Input.EmpName" class="form-control" />
        <span asp-validation-for="Input.EmpName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.Designation" class="control-label"></label>
        <input asp-for="Input.Designation" class="form-control" />
        <span asp-validation-for="Input.Designation" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.Salary" class="control-label"></label>
        <input asp-for="Input.Salary" class="form-control" />
        <span asp-validation-for="Input.Salary" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-page="/Index" class="btn btn-secondary">Back to List</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

