@model List< MachineTest_REG_BOOk.Models.Book>



<table class="table-bordered">
    <thead>
    <th>BookName</th>
    <th>Author</th>
    </thead>


    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.BookName</td>
                <td>@book.Author</td>

            </tr>
        }
    </tbody>

</table>
 <a href="Index">Go to Index</a>