@model MVC_Login_Email.Models.User

<form method="post">
    <input name="Name" placeholder="Name" /><br />
    <input name="Email" placeholder="Email" /><br />
    <input name="Password" type="password" placeholder="Password" /><br />
    <button>Register</button>
</form>


