html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.sidebar {
    width: 250px;
    min-height: 100vh;
    background-color: #cce5ff; /* Light blue */
    border-right: 1px solid #ddd;
}

    .sidebar .nav-link {
        color: #333;
        padding: 10px 15px;
        transition: background-color 0.3s, color 0.3s;
    }

        .sidebar .nav-link:hover {
            background-color: #b3d7ff; /* Slightly darker blue */
            color: #000;
        }

/* Main content should fill remaining space */
.flex-fill {
    flex: 1;
}
