@page "/"
@model MachineTest.Pages.RegisterModel
@{
}
<h2>Register</h2>
<form method="post">
    <div>
        <input asp-for="Input.FirstName" placeholder="FirstName"/>
    </div>
    <div>
        <input asp-for="Input.LastName" placeholder="LastName" />
    </div>
    <div>
        <input asp-for="Input.Email" placeholder="Email" />
    </div>
    
    <div>
        <input asp-for="Input.Password" type="password" placeholder="Password" />
    </div>
    <button>Register</button>
    
</form>
<p>@Model.Message</p>
