@model PartialViewDemo.Models.Student


<div class="card mb-3" style="max-width: 22rem;">
<div class="card-body">
<h5 class="card-title">@Model.Name</h5>
<p class="card-text">
<strong>Id:</strong> @Model.Id <br />
<strong>Course:</strong> @Model.Course
</p>
</div>
</div>